@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic-ext);
body {
    background-image: url(/img/bg.png);
    background-repeat: repeat;
    min-width: 400px;
    font-family: 'PT Sans', sans-serif;
}


/*------------------------------------------------------
                    SHELL HEADER
------------------------------------------------------*/

.brandlogo {
    padding: 0 20px 0 20px;
    border-right: solid 1px rgba(0, 0, 0, .4);
    position: relative;
    float: left;
}

.header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 1em;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: white;
    color: #2F2F2F;
}

.header ul {
    display: inline-block;
    padding-bottom: 2em;
    position: relative;
    box-sizing: border-box;
    padding-top: 1em;
}

.header ul>li {
    display: inline-block;
    margin-right: 1em;
}

.header ul>li>a {
    margin-left: 0.1em;
    padding: 0 1em;
    line-height: 40px;
    color: #2F2F2F;
    text-decoration: none;
    display: inline-block;
    transition: background-color ease-out .5s;
}

.header ul>li>a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------
                        CONTAINER
------------------------------------------------------*/

.container {
    max-width: 95%;
    width: 95%;
    margin: auto;
}

.container > .content {
    text-align: justify;
    letter-spacing: 0.1em;
    font-size: 1em;
    font-weight: 200;
}